
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    background-image: url(../images/banner/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .banner-wrap {
        padding-top: 11.875rem;
        padding-bottom: 9rem;
    }

    &#about-banner {
        padding-top: 8.75rem;
        padding-bottom: 5rem;
    }
}