
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.slick-slide {
	margin: 0.5rem;
}

.map {
	position: relative;
	margin-bottom: 7rem;
}

.contact-address {
	background-color: white;
	padding: 3rem;
	position: absolute;
	left: 2.5rem;
	bottom: 2.5rem;
	line-height: 1;

	.address {
		font-size: 1.25rem;
		margin-bottom: 0.75rem;
	}
}

.error-404 {
	background-image: url(../images/404.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 12.625rem;
	padding-bottom: 12.3rem;

	@include media-breakpoint-down(md) {
		padding-top: 3.625rem;
	}	
	
	h1 {
		margin-bottom: 21.68rem;

		@include media-breakpoint-down(md) {
			margin-bottom: 15rem;
		}
	}
}

.btn {
	background-color: $theme-color;
}

.w-md-40 {
	@include media-breakpoint-up(md) {
		width: 40%;
	}
}

.read-more {
	background: $theme-color;
	padding: $spacer * 0.75 $spacer * 2;
	color: white;
	display: inline-block;
	text-decoration: none;
	margin-bottom: 3rem;
}