/* ----------------------------------------------------------------

	pages.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Pages
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for pages pages. Thanks!
-----------------------------------------------------------------*/


/* Home
-----------------------------------------------------------------*/

#new-arrival-indicator {
    position: absolute;
    translate: -50% 0%;
    @include media-breakpoint-up(lg) {
        bottom: 25%;
        left: 5%;
    }
    @include media-breakpoint-up(xl) {
        bottom: 30%;
        left: 10%;
    }
    @include media-breakpoint-up(xxl) {
        bottom: 40%;
        left: 8.5%;
    }
    .slick-next {
        i {
            font-size: 30px;
            color: $light;
        }
    }
    .slick-next:hover {
        i {
            color: $theme-color;
        }
    }
    .slick-next::before {
        content: none;
    }
    .slick-prev {
        margin-left: 200px;
        i {
            font-size: 30px;
            color: $light;
        }
    }
    .slick-prev:hover {
        i {
            color: $theme-color;
        }
    }
    .slick-prev::before {
        content: none;
    }
    .slick-dots {
        display: flex;
        justify-content: space-around;
        width: 150px;
        margin-bottom: 20px;
        margin-left: 25px;
    }
.slick-dots li button::before {
    font-size: 20px;
    color: $third-color;
    }
    .slick-dots li.slick-active button::before {
        color: $theme-color;
    }
}
#blog-banner {
    .fs-1 {
        opacity: 0.9;
        line-height: 1;
        padding-top: 7.5vw;
        @include media-breakpoint-up (lg) {
            font-size: 55px!important;
        }
        @include media-breakpoint-up (xl) {
            font-size: 60px!important;
        }
        @include media-breakpoint-up (xxl) {
            font-size: 65px!important;
        }
    }
    .fs-6 {
        width: 90%;
        padding-bottom: 5vw;
        @include media-breakpoint-up (md) {
            width: 85%;
        }
        @include media-breakpoint-up (lg) {
            width: 75%;
        }
        @include media-breakpoint-up (xl) {
            width: 50%;
        }
        @include media-breakpoint-up (xxl) {
            width: 35%;
        }
    }
}
#blog {
    padding-bottom: 0;
    .feedback-block {
        .fs-1 {
            font-size: 60px!important;
        }
    }
}
#logos-partners {
    padding-bottom: 0;
}

/* About
-----------------------------------------------------------------*/
.about-us {
    #about-us {
        min-height: 650px!important;
        .fs-1 {
            font-size: 80px!important;
            @include media-breakpoint-up (md) {
                font-size: 100px!important;
            }
            @include media-breakpoint-up (lg) {
                font-size: 120px!important;
            }
            @include media-breakpoint-up (xl) {
                font-size: 140px!important;
            }
            @include media-breakpoint-up (xxl) {
                font-size: 150px!important;
            }
        }
    }
}
#our-history {
    p {
        opacity: 1;
    }
    .event {
        @include media-breakpoint-up (xl) {
            padding-left: 125px;
        }
    }
}
#lorem {
    p {
        opacity: 0.9;
    }
}
/* Contact
-----------------------------------------------------------------*/
.map {
	position: relative;
	margin-bottom: 7rem;
}
.contact-address {
	background-color: white;
	padding: 3rem;
	position: absolute;
	left: 2.5rem;
	bottom: 2.5rem;
	line-height: 1;

	.address {
		font-size: 1.25rem;
		margin-bottom: 0.75rem;
	}
}

/* Error
-----------------------------------------------------------------*/
.error-404 {
	background-image: url('../images/pages/404/404.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 12.625rem;
	padding-bottom: 12.3rem;

	@include media-breakpoint-down(md) {
		padding-top: 3.625rem;
	}

	h1 {
		margin-bottom: 21.68rem;

		@include media-breakpoint-down(md) {
			margin-bottom: 15rem;
		}
	}
}
.btn {
	background-color: $theme-color;
}
.w-md-40 {
	@include media-breakpoint-up(md) {
		width: 40%;
	}
}
.read-more {
	background: $theme-color;
	padding: $spacer * 0.75 $spacer * 2;
	color: white;
	display: inline-block;
	text-decoration: none;
	margin-bottom: 3rem;
}

/* Shope Page
-----------------------------------------------------------------*/

#shop-page {
	.sidebar {
		.widget {
			&.featured-products {
				.product {
					.product-image {
						@include border-radius(0.5rem);
					}
				}
			}
		}
	}
}

/* Sidebar
-----------------------------------------------------------------*/

.sidebar {
	@include media-breakpoint-down(lg) {
		margin-top: 1.875rem;
	}
	.widget {
		margin-bottom: 1.875rem;
	}
}

/* Single Product Page
-----------------------------------------------------------------*/

#single-product-page {
	.product-thumbnail {
		position: relative;
		.product-gallery {
			position: absolute;
			left: 0;
			top: 1.25rem;
			z-index: 1;
			li {
				border-left: 5px solid transparent;
				margin-bottom: 0.625rem;
				padding-left: 0.75rem;
				> a {
					background-color: $white;
					display: block;
					width: 5.625rem;
					height: 5.625rem;
					overflow: hidden;
				}
				&:hover,
				&.active {
					border-color: $theme-color;
				}
			}
		}
	}
	.product-summary {
		text-align: left;
	}
	.product.single-product {
		.onsale {
			top: 0;
			right: 1.875rem;
			bottom: initial;
		}
		.product-details {
			padding: 0;
			@include media-breakpoint-down(lg) {
				padding-top: 2.25rem;
			}
		}
		.product-title {
			color: $body-color;
			font-size: 2.5rem;
			font-weight: 700;
		}
		.product-rating {
			margin-top: 0;
			display: inline-block;
			i {
				color: $theme-color;
			}
		}
		.product-price {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
			justify-content: flex-start;
		}
		.product-meta {
			span {
				display: block;
				a {
					color: $headings-color;
					font-weight: 600;
				}
			}
		}
		form.cart {
			display: flex;
			margin-top: 2rem;
			margin-bottom: 2rem;
			input[type=submit] {
				height: 3rem;
				line-height: 3rem;
				padding: 0 $btn-padding-x;
			}
		}
	}
	.product-more-info {
		.tab-content {
			margin-top: 1.5rem;
		}
	}
}

/* Cart Page
-----------------------------------------------------------------*/

#cart-page {
	.cart-form {
		.shop-table {
			tfoot {
				td {
					padding: 1.25rem 0;
					border-bottom: none;
				}
			}
			.cart-item {
				.product-thumbnail {
					width: 8.25rem;
					img {
						width: 6.25rem;
						height: auto;
						min-width: 6.25rem;
					}
				}
				.product-name {
					a {
						color: $headings-color;
						font-size: 1rem;
						font-weight: 600;
						&.product-wishlist,
						&.product-delete {
							color: $theme-color;
							font-size: 0.8125rem;
							margin-right: 1.25rem;
						}
					}
				}
				.product-subtotal {
					color: $headings-color;
					font-size: 1.25rem;
					font-weight: 600;
				}
			}
			.actions {
				.form-control,
				.btn {
					@include media-breakpoint-down(md) {
						width: 100%;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
	.cart-totals {
		@include media-breakpoint-up(lg) {
			padding: 0 2.375rem;
		}
		.shop-table {
			font-size: 0.75rem;
			td, th {
				border-bottom-width: 1px;
				border-color: $light;
				color: $headings-color;
				padding: 1rem 0;
				vertical-align: middle;
			}
			th {
				font-weight: 600;
				text-transform: uppercase;
			}
			td {
				text-align: right;
			}
			.order-total {
				td {
					font-size: 1.25rem;
					font-weight: 600;
				}
			}
			.shipping {
				td {
					text-align: left;

					p {
						font-weight: 600;
					}
				}
			}
		}
		.btn {
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
	}
}

/* Checkout Page
-----------------------------------------------------------------*/

#checkout-page {
	.checkout {
		padding: 2.5rem 0;
	}
	.order-details {
		color: $headings-color;
		font-size: 0.75rem;
		padding: 2.5rem 0;
		.shop-table {
			td, th {
				border-color: $gray-200;
				border-bottom-width: 1px;
				color: $headings-color;
				padding: 1rem 0;
				vertical-align: middle;
			}
			.product-total {
				text-align: right;
			}
			thead {
				th {
					font-weight: 600;
					text-transform: uppercase;
				}
			}
			tfoot {
				.cart-subtotal,
				.order-total {
					th {
						font-weight: 600;
						text-transform: uppercase;
					}
					td {
						text-align: right;
					}
				}
				.order-total {
					td {
						font-size: 1.25rem;
						font-weight: 600;
					}
				}
			}
			.shipping {
				td {
					text-align: left;

					p {
						font-weight: 600;
					}
				}
				.shipping-destination {
					input {
						background-color: $light;
					}
				}
			}
		}
		.checkout-payment {
			p {
				font-weight: 600;
			}
		}
	}
}

/* Wishlist Page
-----------------------------------------------------------------*/

#wishlist-page {
	.shop-table {
		.wishlist-item {
			.product-thumbnail {
				width: 8.25rem;
				img {
					width: 6.25rem;
					height: auto;
					min-width: 6.25rem;
				}
			}
			.product-name {
				a {
					color: $headings-color;
					font-size: 1rem;
					font-weight: 600;
					&.product-delete {
						color: $theme-color;
						font-size: 0.8125rem;
						margin-right: 1.25rem;
					}
				}
			}
			.product-actions {
				.btn {
					@include media-breakpoint-down(lg) {
						width: 100%;
					}
				}
			}
			.product-quantity {
				.quantity .input-group-prepend {
					display: flex;
					align-items: center;
					margin: 0;
					padding: 0;
				}
				.quantity .input-group-prepend p {
					margin: 0;
					padding: 5px;
				}
			}
		}
	}
}

/* ----------------------------------------------------------------
	Team Member Page
-----------------------------------------------------------------*/

.team-member {
	padding: 0.625rem;
	margin-bottom: 1rem;
	@include border-radius(0.5rem);
	.member-avatar {
		@include border-radius(0.5rem);
	}
	.member-name {
		font-size: 1.3125rem;
		margin-bottom: 1rem;
	}
	.member-role {
		color: $theme-color;
		font-size: 0.75rem;
	}
	.member-intro {
		margin-top: 1.5rem;
		.read-more {
			color: $theme-color;
			font-size: 1rem;
			font-weight: 600;
			&::after {
				position: relative;
				top: 3px;
				margin-left: 0.625rem;
			}
		}
	}
	.member-actions {
		margin-top: 1.875rem;
		.follow-me {
			span {
				margin-right: 1.125rem;
			}
		}
	}
	.member-details {
		padding: 0 0 3rem 3rem;
	}
}


/* Single Member Page
-----------------------------------------------------------------*/
.team-member {
	padding: 0;

	.member-details {
		padding: 0 3rem 3rem 3rem;
	}
}
#member-services {
	.member-service {
		padding-left: 2.25rem;
		position: relative;
		&::before {
			content: "";
			background-repeat: no-repeat;
			background-size: 100%;
			display: block;
			width: 1rem;
			height: 0.8125rem;
			position: absolute;
			left: 0;
			top: 0;
		}
		h3 {
			font-family: $body-font;
			font-size: 1rem;
			margin-bottom: 1.375rem;
		}
	}
}
#member-portfolios {
	.member-portfolio {
		margin-bottom: 1.875rem;
		img {
			margin-bottom: 1.5rem;

			@include border-radius(0.5rem);
		}
		h3 {
			font-family: $body-font;
			font-size: 1rem;
			margin-bottom: 0;
		}
	}
}
