/* ----------------------------------------------------------------

	pages.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Pages
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for pages pages. Thanks!
-----------------------------------------------------------------*/


/* Home
-----------------------------------------------------------------*/

#new-arrival-indicator {
    position: absolute;
    translate: -50% 0%;
    @include media-breakpoint-up(lg) {
        bottom: 25%;
        left: 5%;
    }
    @include media-breakpoint-up(xl) {
        bottom: 30%;
        left: 10%;
    }
    @include media-breakpoint-up(xxl) {
        bottom: 40%;
        left: 8.5%;
    }
    .slick-next {
        i {
            font-size: 30px;
            color: $light;
        }
    }
    .slick-next:hover {
        i {
            color: $theme-color;
        }
    }
    .slick-next::before {
        content: none;
    }
    .slick-prev {
        margin-left: 200px;
        i {
            font-size: 30px;
            color: $light;
        }
    }
    .slick-prev:hover {
        i {
            color: $theme-color;
        }
    }
    .slick-prev::before {
        content: none;
    }
    .slick-dots {
        display: flex;
        justify-content: space-around;
        width: 150px;
        margin-bottom: 20px;
        margin-left: 25px;
    }
.slick-dots li button::before {
    font-size: 20px;
    color: $third-color;
    }
    .slick-dots li.slick-active button::before {
        color: $theme-color;
    }
}
#blog-banner {
    .fs-1 {
        opacity: 0.9;
        line-height: 1;
        padding-top: 7.5vw;
        @include media-breakpoint-up (lg) {
            font-size: 55px!important;
        }
        @include media-breakpoint-up (xl) {
            font-size: 60px!important;
        }
        @include media-breakpoint-up (xxl) {
            font-size: 65px!important;
        }
    }
    .fs-6 {
        width: 90%;
        padding-bottom: 5vw;
        @include media-breakpoint-up (md) {
            width: 85%;
        }
        @include media-breakpoint-up (lg) {
            width: 75%;
        }
        @include media-breakpoint-up (xl) {
            width: 50%;
        }
        @include media-breakpoint-up (xxl) {
            width: 35%;
        }
    }
}
#blog {
    padding-bottom: 0;
    .feedback-block {
        .fs-1 {
            font-size: 60px!important;
        }
    }
}
#logos-partners {
    padding-bottom: 0;
}

/* About
-----------------------------------------------------------------*/
.about-us {
    #about-us {
        min-height: 650px!important;
        .fs-1 {
            font-size: 80px!important;
            @include media-breakpoint-up (md) {
                font-size: 100px!important;
            }
            @include media-breakpoint-up (lg) {
                font-size: 120px!important;
            }
            @include media-breakpoint-up (xl) {
                font-size: 140px!important;
            }
            @include media-breakpoint-up (xxl) {
                font-size: 150px!important;
            }
        }
    }
}
#our-history {
    p {
        opacity: 1;
    }
    .event {
        @include media-breakpoint-up (xl) {
            padding-left: 125px;
        }
    }
}
#lorem {
    p {
        opacity: 0.9;
    }
}
/* Contact
-----------------------------------------------------------------*/
.map {
	position: relative;
	margin-bottom: 7rem;
}
.contact-address {
	background-color: white;
	padding: 3rem;
	position: absolute;
	left: 2.5rem;
	bottom: 2.5rem;
	line-height: 1;

	.address {
		font-size: 1.25rem;
		margin-bottom: 0.75rem;
	}
}
/* Error
-----------------------------------------------------------------*/
.error-404 {
	background-image: url('../images/pages/404/404.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 12.625rem;
	padding-bottom: 12.3rem;

	@include media-breakpoint-down(md) {
		padding-top: 3.625rem;
	}

	h1 {
		margin-bottom: 21.68rem;

		@include media-breakpoint-down(md) {
			margin-bottom: 15rem;
		}
	}
}
.btn {
	background-color: $theme-color;
}
.w-md-40 {
	@include media-breakpoint-up(md) {
		width: 40%;
	}
}
.read-more {
	background: $theme-color;
	padding: $spacer * 0.75 $spacer * 2;
	color: white;
	display: inline-block;
	text-decoration: none;
	margin-bottom: 3rem;
}