
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.fbox {
	position: relative;
	margin-bottom: 1.875rem;

	.fbox-icon {
		display: block;		
		
		img {
			display: block;
			min-width: 2rem;
		}
	}

	p {
		line-height: $line-height-base;
		margin-bottom: 0;
	}
}

