
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {
	position: relative;
	margin-bottom: 1.875rem;
	.fbox-icon {
		display: block;
		img {
			width: 5rem;
			display: block;
		}
	}
	p {
		line-height: $line-height-base;
		margin-bottom: 0;
		opacity: 1;
	}
}

